backoff==2.2.1
blinker==1.7.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
et-xmlfile==1.1.0
Flask==3.0.2
idna==3.7
ipython-genutils==0.2.0
itsdangerous==2.1.2
Jinja2==3.1.5
jupysql==0.10.10
jupysql-plugin==0.4.2
MarkupSafe==2.1.5
monotonic==1.6
numpy==1.26.4
openpyxl==3.1.2
pandas==2.2.0
ploomber-core==0.2.25
ploomber-extension==0.1.0
posthog==3.4.1
prettytable==3.9.0
py4j==0.10.9.7
pyspark==3.5.0
python-dateutil==2.8.2
pytz==2024.1
PyYAML==6.0.1
requests==2.31.0
six==1.16.0
SQLAlchemy==2.0.27
sqlglot==21.1.1
sqlparse==0.5.0
typing_extensions==4.9.0
tzdata==2024.1
urllib3==2.2.1
wcwidth==0.2.13
Werkzeug==3.0.1
